<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    
    <meta name="keywords" content="Inhibitors,APIs, Bioactive Chemicals,Natural compounds">
    <meta name="description" content="Focus to develop Novel inhibitors, APIs,Natural compounds,Bioactive Chemicals">
    <meta name="Author" content="Quality Research Checmicals">
    <meta name="generator" content="Quality Research Checmicals">
    <meta name="google-site-verification" content="a3trl6TzxKRSyezx16Cz-jQ2Jz8P_1vPM8nBEk6gGVI">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - QualityResearchChemicals</title>
    <base href="~/" />

    <link rel="stylesheet" href="~/dist/vendor.css" asp-append-version="true" />
</head>
<body>
    @RenderBody()

    @RenderSection("scripts", required: false)
</body>
</html>
